.header {
  font-family: 'Oswald', sans-serif;
}

.header__title {
  font-family: 'Roboto Slab', serif;
  background-color: #FA8072;
}

.header__description {
  text-indent: 50px;
}

.header__title-two {
    background-color: #FFA07A;
    font-family: 'Roboto Slab', serif;
}
